/*-------------------------------------------------- game --------------------------------------------------*/

.game {
  font-family: 'Quicksand', sans-serif;
  flex-wrap: wrap;
}

.game-logo {
  display: block;
  background-color: #f5ebe0;
  width: 10rem;
  border-radius: 10px;
  padding: 0.2rem;
  box-shadow: 5px 10px 15px black;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5ebe0;
  text-align: center;
}

.contact__text {
  margin-bottom: 0;
  margin-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.header:last-child {
  flex-wrap: wrap;
}

.score-board {
  margin: auto;
  position: relative;
  background-color: #f5ebe0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 3rem 0.5rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 10px 15px black;
}

.players {
  display: flex;
  justify-content: space-around;
}

.play-area {
  display: flex;
  flex-direction: column;
}

.choose-word-difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.header-word-difficulty {
  color: #f5ebe0;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn-word-difficulty {
  width: 10rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #10497f;
  border: solid 2px white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn-word-difficulty:hover {
  background-color: #6698bf;
}

.choose-word-difficulty-buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .header {
    margin: 0 auto 1rem auto;
    width: 80%;
  }

  .score-board {
    width: 80%;
  }

  .play-area {
    flex-direction: row;
    width: 60%;
  }

  .choose-word-difficulty-buttons {
    flex-direction: row;
    margin-left: 2rem;
  }

  .last {
    margin-right: 0;
  }

  .btn-word-difficulty {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin: 0 auto 2rem auto;
    width: 70%;
  }

  .board {
    flex-direction: column;
    margin: 1rem 0rem 0rem 1rem;
    align-items: center;
  }

  .score-board {
    width: 70%;
  }

  .play-area {
    flex-direction: row;
  }

  .header-word-difficulty {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .game {
    display: flex;
  }

  .game-logo {
    width: 12rem;
  }

  .contact {
    margin: auto;
  }

  .choose-word-difficulty-buttons {
    flex-direction: row;
    margin-left: 2rem;
  }

  .btn-word-difficulty {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    width: 50%;
  }

  .score-board {
    width: 50%;
    padding: 0.5rem 1.5rem 4rem 1.5rem;
  }

  .btn-word-difficulty {
    margin-right: 3rem;
  }
}
