html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #513634;
}

main {
  max-width: 300px;
  padding: 1rem;
}

button {
  cursor: pointer;
}

/* ----------------- mili.html ----------------*/

.block {
  background-color: #e6e5e1;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.block-text {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2rem 0rem 6rem 0rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.buttons__primary {
  background-color: #08219e;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border: solid 3px white;
  border-radius: 15px;
  width: 12rem;
}

.buttons__primary:hover,
:focus {
  background-color: white;
  color: #08219e;
  border-color: #08219e;
}

.buttons__secondary {
  color: #08219e;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid 3px #08219e;
  border-radius: 15px;
  width: 12rem;
}

.buttons__secondary:hover,
:focus {
  background-color: white;
}

/*---------------- rules --------------*/

.rules .buttons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rules .buttons__primary {
  max-width: 50%;
}

.rules .buttons__secondary {
  max-width: 40%;
  margin-bottom: 0;
  color: #e6e5e1;
  border-color: #e6e5e1;
  text-transform: none;
}

.rules .buttons__secondary:hover,
:focus {
  background-color: #e6e5e1;
  color: #513634;
  border-color: #513634;
}

/*--------------- game ---------------------*/

.board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.score-board {
  background-color: #e6e5e1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 60%;
}

.who-plays {
  display: flex;
  margin-bottom: 0.8rem;
}

.who-plays__text {
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
}

.who-plays__color {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50px;
  border: solid 3px black;
  background-color: red;
}

.players {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__color {
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
}

.player__color--red {
  background-color: red;
}

.player__color--blue {
  background-color: blue;
}

.player__color--yellow {
  background-color: yellow;
}

.player__color--green {
  background-color: green;
}

.difficulty-choice {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #f4f5b9;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 5px 10px 15px black;
}

.difficulty-choice:hover {
  background-color: black;
  color: #f4f5b9;
}

.info-rules {
  background: none;
  border: none;
  color: #e6e5e1;
  font-size: 3rem;
  letter-spacing: -0.5rem;
  padding: 0;
}

.game .block {
  padding-top: 1rem;
}

.block__start,
.block__end {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  padding: 1.2rem 0.5rem 1rem 0.5rem;
  background-color: #24bae1;
  color: white;
  border-radius: 50px;
  border: solid 2px #513634;
}

.block__field {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  border: solid 2px black;
  margin: 0.5rem;
}

/* -------------------------- popup window ------------------------*/

/*.popup-window {
  display: none;
}*/

.popup-window__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.4;
}

.popup-window__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8rem;
  padding: 1rem;
  width: 16.5rem;
  z-index: 20;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 10px 15px black;
}

/*-------------------- number of players ----------------------*/

.number-of-players {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #08219e;
}

.number-of-players-select {
  margin-bottom: 5rem;
  width: 3rem;
  font-size: 1.5rem;
  text-align: center;
  border: solid 2px #08219e;
  border-radius: 2px;
}

.popup-window__front .buttons__primary,
.buttons__secondary {
  width: 7rem;
  margin: 0 0.5rem 0 0.5rem;
  text-transform: none;
  border-color: #08219e;
}

.popup-window__front .buttons {
  flex-direction: row;
}

/* ------------------- player card -------------------*/

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: #08219e;
}

.player-number {
  margin-bottom: 1rem;
}

.input-for-name {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 600;
  width: 8.5rem;
  border: solid 3px #08219e;
}

.choose-color {
  margin-top: 1rem;
}

.player-color input {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0;
  appearance: none;
  border-radius: 50px;
  margin: 1rem 0.2rem 1rem 0.2rem;
}

.player-color input:checked {
  border: solid 4px black;
}

.player-color-yellow {
  background-color: yellow;
}

.player-color-red {
  background-color: red;
}

.player-color-blue {
  background-color: blue;
}

.player-color-green {
  background-color: green;
}
