html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/*COLORS
brown - #544B3D;
darkblue - #24374B;
lightblue - #6698BF;
red - #90131B;
beige - #f5ebe0;
almond - #EBD8C2;
green - #5F8731;
blue for player - #10497F;
yellow - #F7E135; */

/*FONTS
font-family: 'Comfortaa', cursive;
font-family: 'Quicksand', sans-serif;*/

body {
  background-color: #544b3d;
  background-image: url('images/background_mobile02.jpg');
  background-size: 100%;
}

main {
  max-width: 300px;
  padding: 1rem;
}

button {
  cursor: pointer;
}

/* ----------------- mili.html ----------------*/

.homepage {
  font-family: 'Quicksand', sans-serif;
}

.block {
  background-color: #f5ebe0;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 10px 15px black;
}

.block-text {
  color: #10497f;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem 0rem 6rem 0rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.buttons__primary {
  background-color: #10497f;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  border: solid 3px #10497f;
  border-radius: 15px;
  width: 12rem;
}

.buttons__primary:hover {
  background-color: #1669b6;
  border-color: #1669b6;
}

.buttons__secondary {
  color: #10497f;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid 3px #10497f;
  border-radius: 15px;
  width: 12rem;
}

.buttons__secondary:hover {
  background-color: white;
}

.homepage .buttons__secondary {
  width: 12rem;
  margin-bottom: 1rem;
}

/*---------------- rules --------------*/

.rules {
  font-family: 'Quicksand', sans-serif;
  color: #10497f;
}

.rules .buttons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rules .buttons__primary {
  max-width: 50%;
  border-color: white;
}

.rules .buttons__secondary {
  max-width: 40%;
  margin-bottom: 0;
  color: #e6e5e1;
  border-color: #e6e5e1;
  text-transform: none;
}

.rules .buttons__secondary:hover {
  background-color: #e6e5e1;
  color: #544b3d;
  border-color: #544b3d;
}

/*--------------- game ---------------------*/

.game {
  font-family: 'Quicksand', sans-serif;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.score-board {
  background-color: #f5ebe0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 55%;
  border-radius: 5px;
  box-shadow: 5px 10px 15px black;
}

.who-plays {
  display: flex;
  margin-bottom: 0.8rem;
}

.who-plays__text {
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
}

.who-plays__color {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50px;
  background-color: #90131b;
  box-shadow: 5px 5px 5px #988971;
}

.players {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__color {
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
}

.player__color--red {
  background-color: #90131b;
}

.player__color--blue {
  background-color: #10497f;
}

.player__color--yellow {
  background-color: #f7e135;
}

.player__color--green {
  background-color: #5f8731;
}

.play-area {
  display: flex;
  flex-direction: column;
}

.difficulty-choice {
  margin-bottom: 0.8rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #f5ebe0;
  background-color: #10497f;
  border: solid 3px #f5ebe0;
  border-radius: 5px;
  box-shadow: 5px 10px 15px black;
}

.difficulty-choice:hover {
  background-color: #f5ebe0;
  color: #10497f;
}

.info-rules {
  background: none;
  border: none;
  color: #e6e5e1;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0;
}

.game .block {
  padding-top: 1rem;
}

.block__start,
.block__end {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  padding: 1.2rem 0.5rem 1rem 0.5rem;
  background-color: #10497f;
  color: white;
  border-radius: 50px;
  border: solid 2px #10497f;
}

.block__field {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  border: solid 2px #544b3d;
  margin: 0.5rem;
}

/* -------------------------- popup window ------------------------*/

.popup-window {
  display: none;
}

.popup-window-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.4;
}

.popup-window-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8rem;
  padding: 1rem;
  width: 16.5rem;
  z-index: 20;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 10px 15px black;
}

/*-------------------- number of players ----------------------*/

.number-of-players {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #10497f;
}

.number-of-players-select {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 5rem;
  width: 3rem;
  font-size: 1.5rem;
  text-align: center;
  border: solid 2px #10497f;
  border-radius: 2px;
}

.popup-window__front .buttons__primary,
.buttons__secondary {
  width: 7rem;
  margin: 0 0.5rem 0 0.5rem;
  text-transform: none;
  border-color: #10497f;
}

.popup-window__front .buttons {
  flex-direction: row;
}

/* ------------------- player card -------------------*/

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: #10497f;
}

.player-number {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.input-for-name {
  color: #2f2a22;
  font-size: 1.4rem;
  width: 8.5rem;
  border: solid 3px #10497f;
}

.choose-color {
  margin-top: 1rem;
}

.player-color input {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0;
  appearance: none;
  border-radius: 50px;
  margin: 1rem 0.2rem 1rem 0.2rem;
}

.player-color input:checked {
  border: solid 4px #2f2a22;
}

.player-color-yellow {
  background-color: #f7e135;
}

.player-color-red {
  background-color: #90131b;
}

.player-color-blue {
  background-color: #10497f;
}

.player-color-green {
  background-color: #5f8731;
}

.player-card > .buttons {
  display: flex;
  flex-direction: row;
}

.player-card .buttons__primary {
  width: 8rem;
}

.player-card .buttons__secondary {
  width: 6rem;
}

.player-card .buttons__secondary:hover {
  color: white;
  background-color: #1669b6;
  border-color: #1669b6;
}

/* ------------------ rules card ---------------------*/

.rules-card {
  color: #10497f;
  text-align: center;
}

/* ------------------- difficulty --------------------*/

.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0b0b73;
}

.difficulty h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.difficulty span {
  margin-bottom: 2rem;
}

.difficulty-input {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.difficulty-input__item {
  width: 2rem;
  height: 2rem;
  border: solid 3px #0b0b73;
  border-radius: 50px;
  appearance: none;
}

.difficulty-input__item:checked {
  background-color: #1669b6;
}

.difficulty-button {
  width: 10rem;
  margin-bottom: 2rem;
  background-color: #10497f;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
}

.difficulty-button:hover {
  background-color: #1669b6;
  color: white;
}

/* ------------------ translate card ----------------- */

.translate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #10497f;
}

.translate-card__word {
  text-align: center;
  margin: 1rem 0rem 2rem 0rem;
  font-size: 1.8rem;
}

.translate-card__text {
  margin-bottom: 0.5rem;
}

.translate-card__translation {
  color: #544b3d;
  width: 13.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  border: solid 3px #10497f;
}

.translate-card__button {
  width: 10rem;
  margin-bottom: 2rem;
  background-color: #10497f;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
}

.translate-card__button:hover {
  background-color: #1669b6;
  color: white;
}

/* ---------------------- right/wrong answer ----------------------*/

.right-answer,
.wrong-answer {
  color: #10497f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-answer__image,
.wrong-answer__image {
  width: 4rem;
  height: 4rem;
}

.right-answer__text,
.wrong-answer__text {
  font-size: 2.5rem;
}

.right-answer__score,
.wrong-answer__score {
  font-size: 1.4rem;
}

.wrong-answer__isright {
  margin-bottom: 2rem;
}

.right-answer__button,
.wrong-answer__button {
  margin-bottom: 2rem;
  background-color: #10497f;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
}

.right-answer__button:hover,
.wrong-answer__button:hover {
  background-color: #1669b6;
  color: white;
}

.wrong-answer__button-secondary {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #10497f;
}

.wrong-answer__button-secondary:hover {
  color: #1669b6;
}

/*------------------- score-overview ------------------*/

.score-overview {
  color: #2f2a22;
  text-align: center;
}

.score-overview-players {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.score-overview .player,
.game-over .player {
  display: flex;
  flex-direction: row;
}

.score-overview .player__score,
.game-over .player__score {
  margin: 0.5rem;
  width: 5rem;
}

/*------------------ game-over -------------------*/

.game-over {
  text-align: center;
  color: #2f2a22;
}

.winner-img {
  width: 4rem;
}

.winner {
  font-size: 1.5rem;
  margin-top: 0;
}

.game-over-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over-btn__primary {
  background-color: #10497f;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.game-over .player:last-child {
  margin-bottom: 1rem;
}

.game-over-btn__primary:hover {
  background-color: #1669b6;
  color: white;
}

.game-over-btn__secondary {
  color: #10497f;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid 3px #10497f;
  border-radius: 15px;
  width: 50%;
}

.game-over-btn__secondary:hover {
  background-color: #1669b6;
  color: white;
  border-color: #1669b6;
}
