.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.score-board {
  background-color: #f5ebe0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 15px black;
}

.players {
  display: flex;
  justify-content: space-around;
}

.play-area {
  display: flex;
  flex-direction: column;
}

.btn-word-difficulty {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #10497f;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn-word-difficulty:hover {
  background-color: #6698bf;
}

@media screen and (min-width: 650px) and (max-width: 864px) {
  .score-board {
    width: 40%;
  }

  .play-area {
    flex-direction: row;
  }
}

@media screen and (min-width: 865px) {
  .board {
    flex-direction: column;
    margin: 1rem 0rem 0rem 1rem;
    align-items: center;
  }

  .score-board {
    display: flex;
    flex-direction: column;
    background-color: #f5ebe0;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 5px 10px 15px black;
  }

  .score-board:last-child {
    justify-content: flex-end;
  }

  .header {
    flex-direction: column;
    width: 25%;
  }
}
