/*--------------------------------------------- game-over -------------------------------------------------*/

.game-over {
  text-align: center;
  color: #10497f;
}

.winner-img {
  width: 8rem;
}

.winner {
  font-size: 1.5rem;
  margin-top: 0;
}

.game-over .player:last-child {
  margin-bottom: 1rem;
}

.game-over-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
