.player--overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.player__score {
  margin: 0.5rem;
  width: calc(100% / 4);
}

.player {
  color: #10497f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.player__color {
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
}

.player__color--one {
  background-color: #90131b;
}

.player__color--two {
  background-color: #10497f;
}

.player__color--three {
  background-color: #f7e135;
}

.player__color--four {
  background-color: #5f8731;
}

.player__name {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
}

.player__progress {
  width: calc(100% / 3);
  color: #10497f;
  height: 2rem;
}

@media screen and (min-width: 1000px) {
  .player__progress {
    width: 55%;
  }

  .player__name {
    width: 20%;
  }

  .player__score {
    width: 15%;
  }
}
