.who-plays {
  display: flex;
  margin: 1rem 0 4rem 0.8rem;
}

.who-plays__text {
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
}

.who-plays__color {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #988971;
}

.img-score-board {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}
