/*--------------------------------------------- score-overview ---------------------------------------------*/

.score-overview {
  color: #2f2a22;
  text-align: center;
  width: 100%;
}
.score-overview__players {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

@media screen and (min-width: 865px) {
  .score-overview__players {
    flex-direction: column;
  }
}
