/* ------------------------------------------- translate card ---------------------------------------------- */

.translate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #10497f;
  margin-bottom: 1rem;
}

.translate-card__word {
  text-align: center;
  margin: 1rem 0rem 2rem 0rem;
  font-size: 1.8rem;
}

.translate-card__text {
  margin-bottom: 0.5rem;
}

.translate-card__translation {
  color: #544b3d;
  width: 13.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  border: solid 3px #10497f;
}

.button {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border: solid 3px #10497f;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
}

.button--primary {
  background-color: #10497f;
  color: white;
  font-weight: bold;
}

.button--primary:hover {
  background-color: #1669b6;
  border-color: #1669b6;
}

.medium {
  width: 10rem;
  text-transform: none;
}

.answer-img {
  width: 5rem;
  height: 5rem;
}

.answer-text {
  font-size: 2.5rem;
}

.answer-score {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
