html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* ----------------------------------------COLORS----------------------------------------
brown - #544B3D;
lightblue - #6698BF;
red - #90131B;
beige - #f5ebe0;
almond - #EBD8C2;
green - #5F8731;
blue - #10497F;
yellow - #F7E135; */

/* ---------------------------------------FONTS----------------------------------------
font-family: 'Quicksand', sans-serif; */

body {
  background-color: #332727;
  margin: 0;
}

.hidden {
  display: none !important;
}

.background-image {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  padding: 1rem;
}

button {
  cursor: pointer;
}

/* ---------------------------------------- homepage ----------------------------------*/

.homepage {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
}

.homepage-logo {
  width: 12rem;
  margin: 2rem 0 2rem 0;
}

.block-text {
  color: #10497f;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 3rem 0;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
